:root {
    /* Shades of grey */
    --colorMainBlack: #292929;
    --colorDarkGrey: #707070;
    --colorLightGrey: #C2C2C2;
    --colorVeryLightGrey: #EDEDED;
    --colorWhite: #FAFAFA;
    
    /* Main color */
    --colorPrimary: #FFA71A;
    --colorPrimaryLight: #F7B759;
    --colorPrimaryVeryLight: #F7CF9A;
    
    /* Secondary color */
    --colorSecondary:#8ECCEF;
    --colorSecondaryLight: #ADE1F7;
    --colorSecondaryVeryLight: #D5EEF7;
}