:root {
    /* Small buttons */
    --borderRadiusSmall: 6px;
    /* Large buttons */
    --borderRadiusMedium: 10px;
    /* Big areas */
    --borderRadiusLarge: 16px;
    /* main box shadow */
    --boxShadow: 1px 3px 35px rgba(0, 0, 0, 0.7);
    /* Box shadow primary color */
    --boxShadowPrimary: 2px 4px 10px #F7CF9A;
    /* Box shadow secondary color */
    --boxShadowSecondary: 2px 4px 10px #D5EEF7;

    --boxShadowe: 1px 3px 6px rgba(47, 47, 47, 0.217);
  }